html,
body {
    padding:0px;
    margin:0px;
}
body {
    background-color: rgba(242, 242, 242, 1);
    font-family: "TT Lakes";
}
button {
    border: 0px;
    padding: 0px;
    background-color: transparent;
}

.wrapper{
    overflow: hidden;
    width: 320px;
}

.header{
    padding-left: 16px;
    background-color: rgba(248, 248, 248, 1);
    padding-bottom: 23px;
    padding-top:21px;
}
.header__title{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin:0;
}

.swiper{
    padding-bottom: 67px;
}
.swiper-pagination-bullet{
    width: 10px;
    height: 10px;
    background-color: rgba(181, 182, 188, 1);
    opacity: 0.5;
}
.swiper-pagination-bullet-active{
    opacity: 1;
}

.services{
    padding-left: 16px;
    padding-top: 16px;
}
.services__list{
    display: flex;
    list-style: none;
    padding:0;
    margin:0;
}
.services::after{
    content: "";
    position: absolute;
    right: 0%;
    top: 10%;
    width: 24px;
    height: 72px;
    z-index: 1;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
}
.services__category{

    width: 240px;
}
.services__category-button{
    display: flex;
    align-items: center;
    position: relative;
    min-width: 240px;
    height: 72px;
    border-radius: 6px;
    border: 1px solid rgba(234, 234, 234, 1);
    background-color: rgba(255, 255, 255, 1);
}
.show-all-button{
    display: inline-block;
    width: fit-content;
    cursor: pointer;
    display:none;
    margin-top:24px;
    font-weight: 500;
    font-size: 16px;
    line-height:24px;
}
.show-all-button__icon{
    transition: 0.3s;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.5 7.5L12 10L9.5 7.5C9.22386 7.22386 8.77614 7.22386 8.5 7.5C8.22386 7.77614 8.22386 8.22386 8.5 8.5L11.2929 11.2929C11.6834 11.6834 12.3166 11.6834 12.7071 11.2929L15.5 8.5C15.7761 8.22386 15.7761 7.77614 15.5 7.5C15.2239 7.22386 14.7761 7.22386 14.5 7.5ZM14.5 13.5L12 16L9.5 13.5C9.22386 13.2239 8.77614 13.2239 8.5 13.5C8.22386 13.7761 8.22386 14.2239 8.5 14.5L11.2929 17.2929C11.6834 17.6834 12.3166 17.6834 12.7071 17.2929L15.5 14.5C15.7761 14.2239 15.7761 13.7761 15.5 13.5C15.2239 13.2239 14.7761 13.2239 14.5 13.5Z' fill='%2341F6D7'/%3E%3C/svg%3E%0A");
    padding: 0;
    margin-right: 8px;
    vertical-align: middle;
}

.services__go{
    position: absolute;
    right: 16px;
    width: 40px;
    height: 40px;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='1' width='38' height='38' rx='19' stroke='%23FF3E79' stroke-width='2'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.5 20L17.7071 16.2071C17.3166 15.8166 17.3166 15.1834 17.7071 14.7929L17.7929 14.7071C18.1834 14.3166 18.8166 14.3166 19.2071 14.7071L23.7929 19.2929C24.1834 19.6834 24.1834 20.3166 23.7929 20.7071L19.2071 25.2929C18.8166 25.6834 18.1834 25.6834 17.7929 25.2929L17.7071 25.2071C17.3166 24.8166 17.3166 24.1834 17.7071 23.7929L21.5 20Z' fill='%23FF3E79'/%3E%3C/svg%3E%0A");
}
.services__logo{
    position: absolute;
    left:16px;
}
.services__logo--type--lenovo{
    width: 108px;
    height: 32px;
    background-image: url("../images/lenovo.svg");
}
.services__logo--type--samsung{
    width: 116px;
    height: 38px;
    background-image: url("../images/samsung.svg");
}
.services__logo--type--apple{
    width: 44px;
    height: 44px;
    background-image: url("../images/apple.svg");
}
.services__logo--type--acer{
    width: 94px;
    height: 24px;
    background-image: url("../images/acer.svg");
}
.services__logo--type--bosch{
    width: 128px;
    height: 30px;
    background-image: url("../images/bosch.svg");
}
.services__logo--type--sony{
    width: 128px;
    height: 26px;
    background-image: url("../images/sony.svg");
}
.services__logo--type--hp{
    width: 52px;
    height: 52px;
    background-image: url("../images/hp.svg");
}
.services__logo--type--viewsonic{
    width: 128px;
    height: 21px;
    background-image: url("../images/viewsonic.svg");
}

@media (min-width: 768px) {
    .wrapper{
        width: auto;
        overflow: none;
    }
    .services__list{
        flex-wrap: wrap;
        flex-direction: row;
        gap:24px;
        row-gap: 16px;
    }
    .services {
        padding: 24px;
    }
    .header{
        padding: 24px;
    }
    .services__category{
        display: none;
    }
    .services__category:nth-child(1),
    .services__category:nth-child(2),
    .services__category:nth-child(3),
    .services__category:nth-child(4),
    .services__category:nth-child(5),
    .services__category:nth-child(6){
        display: block;
    }
    .show-all-button{
        display: block;
    }
    .swiper-pagination{
        display: none;
    }
}
@media (min-width: 1120px) {
    .services__list{
        flex-wrap: wrap;
        flex-direction: row;
        gap:32px;
    }
    .services {
        padding: 24px 32px;
    }
    .header{
        padding: 24px 32px;
    }
    .services__category:nth-child(7),
    .services__category:nth-child(8){
        display: block;
    }
    .swiper-pagination{
        display: none;
    }
}